<template>
  <section class="section">
    <div class="container">
      <p class="has-text-centered">
        <img src="fl.svg" />
      </p>
      <h2 class="title">Federated learning configuration</h2>
      <div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"></label>
          </div>
          <div class="field-body has-text-right">
            <div class="field">
              <label class="checkbox">
                <div class="b-checkbox is-warning">
                  <input
                    class="styled"
                    type="checkbox"
                    id="edit_complex"
                    v-model="edit_complex"
                  />
                  <label for="edit_complex">
                    Advanced training configuration
                  </label>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Datasets</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button
                  class="button is-primary"
                  :disabled="searching"
                  v-on:click="searchDatasets()"
                >
                  Search available datasets
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-if="available_datasets.length">
          <div
            class="field is-horizontal"
            v-for="(dataset, index) in available_datasets"
            v-bind:key="dataset.datasetName"
          >
            <div class="field-label">
              <label class="label" v-if="index === 0">Dataset to train</label>
            </div>
            <div class="field-body">
              <div class="field is-block">
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="dataset_to_train"
                      name="dataset"
                      :value="dataset"
                    />
                    {{ dataset.datasetName }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="dataset_to_train">
          <div
            class="field is-horizontal"
            v-for="(connector, index) in dataset_to_train.connectors"
            v-bind:key="connector"
          >
            <div class="field-label">
              <label class="label" v-if="index === 0"
                >Connectors to train</label
              >
            </div>
            <div class="field-body">
              <div class="field is-block">
                <div class="control">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      :id="connector"
                      v-model="workers_to_train"
                      name="dataset"
                      :value="connector"
                    />
                    {{ connector.split(":")[connector.split(":").length - 1] }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Logging</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="b-checkbox is-warning">
                  <input
                    class="styled"
                    type="checkbox"
                    id="verbose"
                    v-model="parameters.verbose"
                  />
                  <label for="verbose"> Verbose </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Seed</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control" style="width: 200px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.seed"
                />
              </div>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Learning rate</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control" style="width: 200px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.lr"
                  step="0.1"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Training</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow has-addons">
              <div class="control" style="width: 200px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.training_rounds"
                />
              </div>
              <p class="control">
                <a class="button is-static">epochs&nbsp;&nbsp;</a>
              </p>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Batch size</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow has-addons">
              <div class="control" style="width: 200px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.batch_size"
                />
              </div>
              <p class="control">
                <a class="button is-static">samples</a>
              </p>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Test Batch size</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow has-addons">
              <div class="control" style="width: 200px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.test_batch_size"
                />
              </div>
              <p class="control">
                <a class="button is-static">samples</a>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Federate rate</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow has-addons">
              <p class="control">
                <a class="button is-static">every</a>
              </p>
              <div class="control" style="width: 129px">
                <input
                  class="input"
                  type="number"
                  v-model.number="parameters.federate_after_n_batches"
                />
              </div>
              <p class="control">
                <a class="button is-static">epochs&nbsp;&nbsp;</a>
              </p>
            </div>
          </div>
        </div>
        <div v-if="edit_complex" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Persist</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="b-checkbox is-warning">
                  <input
                    class="styled"
                    type="checkbox"
                    id="save_model"
                    v-model="parameters.save_model"
                  />
                  <label for="save_model"> Model </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button
                  v-if="!started"
                  class="button is-primary"
                  v-on:click="startFederatedLearning()"
                >
                  Start federated learning
                </button>
                <button
                  v-else
                  class="button is-danger"
                  v-on:click="stopFederatedLearning()"
                >
                  Stop federated learning
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="started">
        <h2 class="title mt-5 mb-3">Training statistics</h2>
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Training status</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <h2 class="subtitle is-6">Elapsed epochs</h2>
                  <ProgressCircle
                    :value="
                      (100 * train_stats.round) / parameters.training_rounds
                    "
                    :radius="50"
                    :strokeWidth="8"
                    :transitionDuration="0"
                    :strokeColor="'#000000'"
                    >{{ train_stats.round }} epochs</ProgressCircle
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Federated model</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <h2 class="subtitle is-6">Model accuracy</h2>
                  <ProgressCircle
                    :value="train_stats.accuracy"
                    :radius="50"
                    :strokeWidth="8"
                    :transitionDuration="0"
                    :strokeColor="
                      strokes[Math.floor(train_stats.accuracy / 10)]
                    "
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="column"
            v-for="(worker, id) in train_stats.workers"
            :key="`stats-${id}`"
          >
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{ worker.id | capitalize }}
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <h2 class="subtitle is-6">Model accuracy</h2>
                  <ProgressCircle
                    :value="worker.accuracy"
                    :radius="50"
                    :strokeWidth="8"
                    :transitionDuration="0"
                    :strokeColor="strokes[Math.floor(worker.accuracy / 10)]"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="title mt-6 pointer">
          Logs
          <i
            class="ml-4 fas"
            :class="{ 'fa-chevron-down': !showlogs, 'fa-chevron-up': showlogs }"
            v-on:click="showlogs = !showlogs"
          ></i>
        </h2>
        <div v-if="showlogs">
          <p v-for="(message, index) in messages" :key="`message-${index}`">
            {{ message.datetime.toJSON().split("T")[1].split(".")[0] }}:
            {{ message.log }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ProgressCircle from "easy-circular-progress";
import axios from "axios";

const regex = /(?<log>Training round (?<round>\d+).*|Federated model: .* (?<loss>\d+\.\d+),.*\((?<accuracy>\d+\.\d+)%\)|Model update (?<worker>\w+): .* (?<workerloss>\d+\.\d+),.*\((?<workeraccuracy>\d+\.\d+)%\)|(?<message>.*))/;
export default {
  name: "FederatedLearning",
  components: {
    ProgressCircle,
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  data() {
    return {
      strokes: [
        "#F90101",
        "#F93300",
        "#FA6700",
        "#FA9A00",
        "#FBCE00",
        "#F5FC00",
        "#C2FD00",
        "#8FFD00",
        "#5BFE00",
        "#26FF00",
      ],
      started: false,
      showlogs: false,
      searching: false,
      train_stats: {
        workers: [
          {
            id: "alice",
            loss: 0.05,
            accuracy: 0.0
          },
          {
            id: "bob",
            loss: 0.05,
            accuracy: 0.0,
          },
          {
            id: "charlie",
            loss: 0.05,
            accuracy: 0.0,
          },
        ],
        loss: 0.0,
        accuracy: 0.0,
        round: 1,
      },
      edit_complex: false,
      messages: [],
      available_datasets: [],
      dataset_to_train: null,
      workers_to_train: [],
      parameters: {
        verbose: false,
        workers: [],
        seed: 1,
        lr: 0.1,
        training_rounds: 40,
        batch_size: 32,
        test_batch_size: 32,
        federate_after_n_batches: 10,
        save_model: true,
      },
      ws: null,
      httpClient: axios.create({
        baseURL: document.location.href + "api/",
        timeout: 30000,
      }),
    };
  },
  methods: {
    startFederatedLearning: async function() {
      this.started = true;
      this.messages.push({datetime: new Date(), log: "Initiating contract negotiation process"});
      console.log("Initiating contract negotiation process")
      this.httpClient
        .post("contract-request/" + this.dataset_to_train.datasetName, this.workers_to_train)
        .then((response) => {
          var data = response.data;         

          if(data.length == 0) {
            this.messages.push({datetime: new Date(), log: "All connectors refused, aborting Federated Learning task."});
            return;
          }
          
          let missing_connectors = this.workers_to_train.filter(connector => !data.includes(connector));          
          
          if(missing_connectors.length > 0) {
            this.messages.push({datetime: new Date(), log: "No contracts found for federated learning on connectors " + missing_connectors + "."});            
          }
          else {
            this.messages.push({datetime: new Date(), log: "Applicable contract resolved."});
          }
          this.messages.push({datetime: new Date(), log: "Starting federated learning task on connectors " + data + "."});

          this.workers_to_train = data;

          this.parameters.workers = this.workers_to_train.map((connector) => {
        return {
          idsid: connector, // full urn:ids:connectors:alice
          id: connector.split(":")[connector.split(":").length - 1], // remove urn:ids:connectors:
        };
      });
      
      this.train_stats = {
        workers: this.parameters.workers.map((worker) => {
          return {
            id: worker.id,
            loss: 0.0,
            accuracy: 0.0,
          };
        }),
        loss: 0.0,
        accuracy: 0.0,
        round: 0,
      };
      if (
        location.href.includes("192.168.") ||
        location.href.includes("localhost")
      ) {
        this.ws = new WebSocket(`ws://${location.hostname}:8081/ws/`);
      } else {
        const wsUrl = new URL("ws/", location.href);
        wsUrl.protocol = wsUrl.protocol.replace("http", "ws");
        this.ws = new WebSocket(wsUrl.href);
      }
      this.ws.onopen = () => this.ws.send(JSON.stringify(this.parameters));
      this.ws.onmessage = (event) => {
        const parsed = regex.exec(event.data);
        console.log(parsed.groups);
        if (parsed.groups.round !== undefined) {
          this.train_stats.round = parseInt(parsed.groups.round);
        } else if (parsed.groups.accuracy !== undefined) {
          this.train_stats.accuracy = parseFloat(parsed.groups.accuracy);
          this.train_stats.loss = parseFloat(parsed.groups.loss);
        } else if (parsed.groups.worker !== undefined) {
          this.train_stats.workers
            .filter((w) => w.id === parsed.groups.worker)
            .forEach((w) => {
              w.accuracy = parseFloat(parsed.groups.workeraccuracy);
              w.loss = parseFloat(parsed.groups.workerloss);
            });
        }
        parsed.groups.datetime = new Date();
        this.messages.push(parsed.groups);
      };
          
        });
    },    
    stopFederatedLearning: async function () {
      if (this.ws != null) {
        this.ws.close();
      }
      this.ws = null;
      this.started = false;
    },
    searchDatasets: async function () {
      this.searching = true;
      this.httpClient.get("connectors/datasets").then((response) => {
        this.available_datasets = response.data;
        this.searching = false;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pointer {
  cursor: pointer;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style lang="scss" scoped>
.b-checkbox {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  text-align: left;

  label {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 1px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background-color: #fff;
      transition: background 0.1s ease-in-out;
    }

    &::after {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 3px;
      top: 3px;
      font-size: 12px;
      color: #363636;
    }
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    // &[type="checkbox"]:focus + label::before, &[type="radio"]:focus + label::before {
    // outline: thin dotted;
    // outline: 5px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
    // }

    &[type="checkbox"]:checked + label::after,
    &[type="radio"]:checked + label::after {
      content: "\f00c";
    }

    &[type="checkbox"]:disabled,
    &[type="radio"]:disabled {
      cursor: not-allowed;
    }

    &[type="checkbox"]:disabled + label,
    &[type="radio"]:disabled + label {
      opacity: 0.65;
    }

    &[type="checkbox"]:disabled + label::before,
    &[type="radio"]:disabled + label::before {
      background-color: whitesmoke;
      cursor: not-allowed;
    }
  }

  &.is-circular label::before {
    border-radius: 50%;
  }

  &.is-inline {
    display: inline-block;
    font-weight: normal;

    + .is-inline {
      margin-left: 10px;
    }
  }
}

.is-primary input[type="checkbox"]:checked + label {
  &::before {
    background-color: #00d1b2;
    border-color: #00d1b2;
  }

  &::after {
    color: #fff;
  }
}

.is-danger input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ff3860;
    border-color: #ff3860;
  }

  &::after {
    color: #fff;
  }
}

.is-info input[type="checkbox"]:checked + label {
  &::before {
    background-color: #3273dc;
    border-color: #3273dc;
  }

  &::after {
    color: #fff;
  }
}

.is-warning input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ffdd57;
    border-color: #ffdd57;
  }

  &::after {
    color: #fff;
  }
}

.is-success input[type="checkbox"]:checked + label {
  &::before {
    background-color: #23d160;
    border-color: #23d160;
  }

  &::after {
    color: #fff;
  }
}

.is-dark input[type="checkbox"]:checked + label {
  &::before {
    background-color: #363636;
    border-color: #363636;
  }

  &::after {
    color: #fff;
  }
}

.is-black input[type="checkbox"]:checked + label {
  &::before {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
  }

  &::after {
    color: #fff;
  }
}

input[type="checkbox"] {
  &.styled:checked + label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
  }

  .styled:checked + label {
    &::before,
    &::after {
      color: #fff;
    }
  }
}
</style>