<template>
  <section class="section">
    <div class="container">
      <p class="has-text-centered">
        <img src="sparql.svg" />
      </p>
      <h2 class="title">SPARQL Query</h2>
      <div>
        <div
          class="field is-horizontal"
          v-for="(connector, index) in available_connectors"
          :key="connector.id"
        >
          <div class="field-label">
            <label class="label" v-if="index === 0">Hospitals</label>
          </div>
          <div class="field-body">
            <div class="field is-block">
              <div class="control">
                <label class="checkbox">
                  <input
                    type="checkbox"
                    v-model="parameters.workers"
                    :id="`connector_${index}`"
                    :value="connector"
                  />
                  {{ connector.id }} ({{ connector.idsid }})
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs is-centered">
          <ul>
            <li
              v-bind:class="{ 'is-active': !manual_query }"
              v-on:click="manual_query = false"
            >
              <a>Simple query</a>
            </li>
            <li
              v-bind:class="{ 'is-active': manual_query }"
              v-on:click="manual_query = true"
            >
              <a>Manual query</a>
            </li>
          </ul>
        </div>
        <div v-if="!manual_query">
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"> Gender </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="gender_value"
                      name="gender_value"
                      value="all"
                    />
                    All
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="gender_value"
                      name="gender_value"
                      value="C46109"
                    />
                    Male
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="gender_value"
                      name="gender_value"
                      value="C46110"
                    />
                    Female
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"> Symptoms since </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input
                    type="date"
                    v-model="symptoms_since_value"
                    name="symptoms_since"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"> Cough symptoms </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="cough_value"
                      name="cough_value"
                      value="all"
                    />
                    All
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="cough_value"
                      name="cough_value"
                      value="C49488"
                    />
                    Yes
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      v-model="cough_value"
                      name="cough_value"
                      value="C49487"
                    />
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label"> Temperature </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left">
                  <input
                    v-model="temperature_value"
                    class="input"
                    type="number"
                    placeholder="Leave empty to skip temperature filter"
                  />
                  <span class="icon is-small is-left"> &#x2103; </span>
                  <p class="help">Filter temperature >= in Celcius</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="manual_query" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Query</label>
          </div>
          <div class="field-body">
            <!-- <PrismComponent language="sparql">{{ parameters.query }}</PrismComponent> -->
            <prism-editor
              :code="parameters.query"
              v-on:change="(value) => (parameters.query = value)"
              language="sparql"
            ></prism-editor>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button
                :disabled="started"
                class="button is-primary"
                v-on:click="sendQuery()"
              >
                Send Query
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label"><label class="label">Result</label></div>
        <div class="field-body">
          <div v-if="manual_query" class="result">
            <pre>{{ raw_result }}</pre>
          </div>
          <table v-if="!manual_query" class="table is-bordered is-striped">
            <thead>
              <tr>
                <th>Facility</th>
                <th>Participant ID</th>
                <th>Gender</th>
                <th>Symptoms since</th>
                <th>Cough symptoms</th>
                <th>Temperature &#x2103;</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(result, index) in result_table" v-bind:key="index">
                <td>{{ result.facility }}</td>
                <td>{{ result.participantId }}</td>
                <td>{{ result.gender }}</td>
                <td>{{ result.symptoms_since }}</td>
                <td>{{ result.cough_signs }}</td>
                <td>{{ result.temperature }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
.prism-editor-wrapper {
  width: 100%;
}
</style>

<script>
import "prismjs";
import "prismjs/themes/prism.css";
import "prismjs/components/prism-turtle";
import "prismjs/components/prism-sparql";
var convert = require("xml-js");
import axios from "axios";

import PrismEditor from "vue-prism-editor";

export default {
  name: "SparqlService",
  components: {
    PrismEditor,
  },
  data() {
    return {
      started: false,
      manual_query: false,
      available_connectors: [],
      gender_value: "all",
      gender_triple_start: "FILTER (?genderValue = crfsmi:",
      gender_triple_end: ") . \n",
      cough_value: "all",
      cough_triple_start: "FILTER (?coughSignsValue = crfsmi:",
      cough_triple_end: ") . \n",
      symptoms_since_value: null,
      symptoms_since_triple_start:
        'FILTER ( xs:date(?symptomsSinceValue) >= xs:date("',
      symptoms_since_triple_end: '") ) . \n',
      temperature_value: null,
      temperature_triple_start: "FILTER (?temperatureValue >= ",
      temperature_triple_end: ") . \n",
      query_template_start: `
prefix dc: <http://purl.org/dc/elements/1.1/>
prefix dcterms: <http://purl.org/dc/terms/>
prefix err: <http://www.w3.org/2005/xqt-errors#>
prefix fn: <http://www.w3.org/2005/xpath-functions#>
prefix foaf: <http://xmlns.com/foaf/0.1/>
prefix fti: <http://franz.com/ns/allegrograph/2.2/textindex/>
prefix keyword: <http://franz.com/ns/keyword#>
prefix nd: <http://franz.com/ns/allegrograph/5.0/geo/nd#>
prefix ndfn: <http://franz.com/ns/allegrograph/5.0/geo/nd/fn#>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix xs: <http://www.w3.org/2001/XMLSchema#>
prefix xsd: <http://www.w3.org/2001/XMLSchema#>

PREFIX crfsm: <http://purl.org/vodan/whocovid19crfsemdatamodel/>
PREFIX crfsmi: <http://purl.org/vodan/whocovid19crfsemdatamodel/instances/>
PREFIX obo: <http://purl.obolibrary.org/obo/>

SELECT ?facilityName ?participantID ?genderValue ?symptomsSinceValue ?coughSignsValue ?temperatureValue
WHERE
{ 
  # Selects entities that are of type WHO COVID-19 RAPID CRF
  ?case rdf:type crfsm:who-covid-19-rapid-crf .
  
  # Retrieves the participant ID (patientID) of the case report
  ?case crfsm:participant_id ?participantID .
  
  # Selects the case reports having a module1 as one of its parts (BFO_0000051 = hasPart)
  ?case obo:BFO_0000051 ?module1 .
  ?module1 rdf:type crfsm:Module_1 .
  
  # Selects the case reports having as one of its parts an element of type Facility_name
  ?module1 obo:BFO_0000051 ?facility .
  ?facility rdf:type crfsm:Facility_name .
  
  # Retrieves the facility name
  ?facility crfsm:has_literal_value ?facilityName .

  ?vitalSigns obo:BFO_0000051 ?syptomsSinceAdmission .
  ?syptomsSinceAdmission rdf:type crfsm:Symptom_onset .
  ?syptomsSinceAdmission crfsm:has_literal_value ?symptomsSinceValue .

  # Selects the case reports with a module1 subsection of type Signs and Symptoms
  ?module1 obo:BFO_0000051 ?signsAndSymptoms .
  ?signsAndSymptoms rdf:type crfsm:signs_and_symptoms .

  # Selects the case reports with a Signs and Symptoms subsections with the Cough_signs on admission filled
  ?signsAndSymptoms obo:BFO_0000051 ?coughSignsAtAdmission .
  ?coughSignsAtAdmission rdf:type crfsm:Cough_signs .

  # Retrieves the Cough_signs at admission
  ?coughSignsAtAdmission crfsm:has_value ?coughSignsValue .

  # Selects the case reports with a module1 subsection of type Demographics
  ?module1 obo:BFO_0000051 ?demographics.
  ?demographics rdf:type crfsm:Demographics .
  
  # Selects the case reports whose patients are males (C46109). For females, use C46110
  ?demographics obo:BFO_0000051 ?genderQuestion .
  ?genderQuestion rdf:type crfsm:Sex .
  ?genderQuestion crfsm:has_value ?genderValue .

  # Selects the case reports with a module1 subsection of type Vital Signs
  ?module1 obo:BFO_0000051 ?vitalSigns .
  ?vitalSigns rdf:type crfsm:Vital_signs .
  
  # Selects the case reports with a Vital Signs subsections with the question temperature on admission filled
  ?vitalSigns obo:BFO_0000051 ?temperatureAtAdmission .
  ?temperatureAtAdmission rdf:type crfsm:Temperature_admission .
  
  # Retrieves the temperature at admission
  ?temperatureAtAdmission crfsm:has_literal_value ?temperatureValue .
`,
      query_template_end: "}",
      raw_result: "",
      result_table: [],
      parameters: {
        workers: [],
        query: `DESCRIBE *
WHERE {
  ?s ?o ?p.
}
`,
      },
      api: axios.create({
        baseURL: document.location.href + "api/",
        timeout: 30000,
      }),
    };
  },
  methods: {
    getConnectors: async function () {
      this.api.get("connectors").then((response) => {
        this.available_connectors = response.data.map((connector) => {
          return {
            idsid: connector, // full urn:ids:connectors:alice
            id: connector.split(":")[connector.split(":").length - 1], // remove urn:ids:connectors:
          };
        });
      });
    },
    sendQuery: async function () {
      if (!this.manual_query) {
        this.buildSparqlQuery();
      }
      this.started = true;
      try {
        const queryPost = await this.api.post(`query`, this.parameters);
        this.raw_result = queryPost.data.join("\n #------ \n");
        this.parseResponse(queryPost.data);
      } catch (e) {
        console.log(e);
      } finally {
        this.started = false;
      }
    },
    buildSparqlQuery: function () {
      let query = this.query_template_start;
      if (this.gender_value != "all") {
        query =
          query +
          this.gender_triple_start +
          this.gender_value +
          this.gender_triple_end;
      }
      if (this.temperature_value) {
        query =
          query +
          this.temperature_triple_start +
          this.temperature_value +
          this.temperature_triple_end;
      }
      if (this.symptoms_since_value) {
        query =
          query +
          this.symptoms_since_triple_start +
          this.symptoms_since_value +
          this.symptoms_since_triple_end;
      }
      if (this.cough_value != "all") {
        query =
          query +
          this.cough_triple_start +
          this.cough_value +
          this.cough_triple_end;
      }
      this.parameters.query = query + this.query_template_end;
    },
    parseResponse: function (response) {
      this.result_table = [];
      // Parse the Sparql XML and put it in the results table.
      response.forEach((xmlWorkerResult) => {
        let jsonResult = convert.xml2js(xmlWorkerResult, { compact: true });
        // No result
        if (Object.keys(jsonResult.sparql.results).length == 0) {
          return;
        }
        // One result
        let results = jsonResult.sparql.results.result;
        if (!Array.isArray(results)) {
          results = [results];
        }
        results.forEach((queryResult) => {
          const gender = queryResult.binding[2].uri._text.includes("C46109")
            ? "M"
            : "F";
          const cough_signs = queryResult.binding[4].uri._text.includes(
            "C49488"
          )
            ? "Yes"
            : "No";
          this.result_table.push({
            facility: queryResult.binding[0].literal._text,
            participantId: queryResult.binding[1].literal._text,
            gender: gender,
            symptoms_since: queryResult.binding[3].literal._text,
            cough_signs: cough_signs,
            temperature: queryResult.binding[5].literal._text,
          });
        });
      });
    },
  },
  created: function() {
    this.getConnectors();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
