<template>
  <div id="app">
    <section class="hero is-bold is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">NL AI Coalitie - ia2ai.nl</h1>
          <h2 class="subtitle">Rule Manager</h2>
          In the Rule Manager, data owners and legal entities can manage certain policy constraints.
          When data sharing is about to happen, the Lawful Ground Manager checks the records in the Rule Manager to determine if
          data sharing is allowed according to the involved data provider, data consumer and data subjects. 
        </div>
      </div>
    </section>
    <div class="body pt-5">
      <LoginForm v-if="!loggedIn" @login='login($event)' @legalEntityLogin='legalEntityLogin($event)'/>
      <DataOwnerRuleOverview v-if='loggedIn && dataOwnerId !== null' v-bind:dataOwnerId="dataOwnerId" @logout='logout()'/>
      <LegalRuleOverview v-if='loggedIn && legalEntity !== null' v-bind:legalEntity="legalEntity" @logout='logout()'/>
    </div>
    <footer class="footer">
      <div class="content has-text-centered has-text-white">
        <div class="nlaic-logo">
          <img src="@/assets/nlaic-logo.svg" />
        </div>
        <p>© 2020 Nederlandse AI Coalitie</p>
        <div class="tno-logo">
          <img src="@/assets/tno-logo.png" />
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import LoginForm from "./components/LoginForm.vue";
import DataOwnerRuleOverview from "./components/DataOwnerRuleOverview.vue";
import LegalRuleOverview from "./components/LegalRuleOverview.vue";

export default {
  components: {
    LoginForm,
    DataOwnerRuleOverview,
    LegalRuleOverview
  },
  data() {
    return {
      dataOwnerId: null,
      userRule: null,
      legalEntity: null,
      loggedIn: false
    }
  },
  methods: {
    login(dataOwnerId) {
      this.loggedIn = true;
      this.dataOwnerId = dataOwnerId;
    },
    legalEntityLogin(legalEntity) {
      this.loggedIn = true;
      this.legalEntity = legalEntity;
    },
    logout() {
      this.loggedIn = false;
      this.dataOwnerId = null;
      this.legalEntity = null;
    }
  }
};
</script>

<style lang="scss">
@import "~bulma/bulma";
html {
  background-color: #222222;
}

.body {
  min-height: 20em;
  background-color: #ffffff;
}

.footer {
  background-color: #222222;
  position: relative;
  z-index: 20;
  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-bottom: 3rem;
      width: 100%;
    }
    > .nlaic-logo {
      img {
        max-height: 130px;
      }
      @include from($desktop) {
        padding-right: 5em;
      }
    }
    > .tno-logo {
      img {
        max-height: 150px;
      }
      @include from($desktop) {
        padding-left: 5em;
      }
    }
    @include from($desktop) {
      flex-wrap: nowrap;
      > * {
        margin-bottom: 0rem;
      }
    }
  }
}
</style>