<template>
  <div class="modal" v-bind:class="{ 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Provide rule</p>
        <button class="delete" aria-label="close" @click="cancel()"></button>
      </header>
      <div class="modal-card-body">
        <div class="field">
          <label class="label">Data provider</label>
          <div class="control">
            <div class="select">
              <select v-model="rule.dataProvider">
                <option v-for="connector in connectors" :key="connector">
                  {{ connector }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Data consumer</label>
          <div class="control">
            <div class="select">
              <select v-model="rule.dataConsumer">
                <option v-for="connector in connectors" :key="connector">
                  {{ connector }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field" v-for="purpose in purposes" :key="purpose">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="rule.purposes[purpose]" />
              Allow use for {{ purpose }}
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" v-model="rule.disallowOutsideNl" />
              Forbid use outside of the Netherlands
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">
              Allow use until
            </label>
            <input type="date" v-model="rule.allowedBefore" />
          </div>
        </div>
      </div>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="submit()">
          Save changes
        </button>
        <button class="button" @click="cancel()">Cancel</button>
      </footer>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";

export default Vue.extend({
  props: ["isActive"],
  data() {
    return {
      api: axios.create({
        baseURL: "/api",
        timeout: 30000,

      }),    
      connectors: null,
      purposes: null,
      forminComplete: false,
      rule: {
        dataConsumer: null,
        dataProvider: null,
        allowDebtAnalysis: false,
        disallowOutsideNl: false,
        allowBefore: null,
        purposes: {},
      },
    };
  },
  created: async function () {
    //this.getConsent(this.dataOwnerId);
    this.getConnectors();
    this.getPurposes();
  },
  methods: {
    submit() {
      if (!this.rule.dataConsumer || !this.rule.dataProvider) {
        this.forminComplete = true;
        return;
      } else {
        this.forminComplete = false;
      }     
      
      // Dict to list
      this.rule.purposes = Object.keys(this.rule.purposes);
      this.$emit("submit", this.rule);
    },
    getConnectors() {
        
        this.api.get("/connectors").then((response) => {
        this.connectors = response.data;
      });
    },
    getPurposes() {
      this.api.get("/purposes").then((response) => {
        this.purposes = response.data;
      });
    },
    cancel() {
      this.$emit("cancel");
    },
  },
});
</script>