<template>
  <section class="section">
    <div class="container">
      <p class="has-text-centered">
        <img src="fl.svg" />
      </p>
      <h2 class="title">Datasets</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th tabindex="0" style data-field="id">
              <div class="th-inner both"></div>
              <div class="fht-cell"></div>
            </th>
            <th tabindex="0" style data-field="id">
              <div class="th-inner both">Dataset name</div>
              <div class="fht-cell"></div>
            </th>
            <th tabindex="0" style data-field="id">
              <div class="th-inner both">Data Subjects</div>
              <div class="fht-cell"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item">
            <td>
              <div class="field is-horizontal">
                <div class="field-label">
                  <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button
                        v-if="!started"
                        class="button is-primary"
                        v-on:click="deleteDataset(item.datasetName)"
                      >Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>{{ item.datasetName }}</td>
            <td>{{ item.dataSubjects.join() }}</td>
          </tr>
        </tbody>
      </table>

      <h2 class="title">Prepare dataset</h2>
<!--
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Dataset type</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="b-checkbox is-info">
                    <input
                      class="styled"
                      type="checkbox"
                      v-model="manualUpload"
                      id="manual"
                    />
                    <label for="manual">Manual CSV upload</label>
                  </div>
            </div>
          </div>
        </div>        
      </div>
      -->
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <input class="input" type="text" v-model="parameters.name" />
            </div>
          </div>
        </div>
      </div>
      <div v-if="!manualUpload">
        <!--
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Digit filter</label>
          </div>
          <div class="field-body digits">
            <div v-for="digit in digits" :key="digit">
              <div class="field is-narrow">
                <div class="control">
                  <div class="b-checkbox is-info">
                    <input
                      class="styled"
                      type="checkbox"
                      v-model="checkedDigits"
                      :id="`digits-${digit}`"
                      :value="digit"
                    />
                    <label :for="`digits-${digit}`">&nbsp;{{ digit }}&nbsp;&nbsp;</label>
                  </div>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
  -->
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button
                  v-if="!started"
                  class="button is-primary"
                  v-on:click="prepareDataset()"
                >Prepare dataset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div v-else>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">File</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" @change="loadTextFromFile" />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">Choose a file…</span>
                    </span>
                    <span class="file-name">{{ parameters.filename }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            -->
            <!-- Left empty for spacing -->
            <!--
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button
                  v-if="!started"
                  class="button is-primary"
                  v-on:click="upload()"
                >Prepare dataset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "FederatedLearning",
  data() {
    return {
      started: false,
      manualUpload: false,
      parameters: {
        name: "mnist",
        filename: "",
      },
      content: null,
      fl: axios.create({
        baseURL: "/api",
        timeout: 30000,
      }),
      items: null,
      digits: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      checkedDigits: [],
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init: async function () {
      this.fl.get(`/datasets/`).then((response) => {
        this.items = response.data;
        console.log(response.data);
      });
    },
    upload: async function () {
      await this.fl.post(`/datasets/${this.parameters.name}`, this.content, {
        headers: {
          "Content-Type": "text/csv",
        },
      });
      this.init();
    },
    deleteDataset: async function (datasetName) {
      await this.fl.delete(`/datasets/${datasetName}`);
      this.init();
    },
    prepareDataset: async function () {
      await this.fl.post(`/digits/${this.parameters.name}`);
      this.init();
    },
    loadTextFromFile: async function (ev) {
      this.started = true;
      this.parameters.name = ev.target.files[0].name;
      this.parameters.filename = ev.target.files[0].name;
      this.content = await new Promise((resolve) => {
        const file = ev.target.files[0];
        const reader = new FileReader();

        reader.onload = () => resolve(reader.result);
        reader.readAsBinaryString(file);
      });
      this.started = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style lang="scss" scoped>
.digits label {
  font-weight: 900;
  margin-right: 1em;
  font-size: 1.2em !important;
}
.b-checkbox {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  text-align: left;

  label {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 1px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background-color: #fff;
      transition: background 0.1s ease-in-out;
    }

    &::after {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 3px;
      top: 3px;
      font-size: 12px;
      color: #363636;
    }
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    // &[type="checkbox"]:focus + label::before, &[type="radio"]:focus + label::before {
    // outline: thin dotted;
    // outline: 5px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
    // }

    &[type="checkbox"]:checked + label::after,
    &[type="radio"]:checked + label::after {
      content: "\f00c";
    }

    &[type="checkbox"]:disabled,
    &[type="radio"]:disabled {
      cursor: not-allowed;
    }

    &[type="checkbox"]:disabled + label,
    &[type="radio"]:disabled + label {
      opacity: 0.65;
    }

    &[type="checkbox"]:disabled + label::before,
    &[type="radio"]:disabled + label::before {
      background-color: whitesmoke;
      cursor: not-allowed;
    }
  }

  &.is-circular label::before {
    border-radius: 50%;
  }

  &.is-inline {
    display: inline-block;
    font-weight: normal;

    + .is-inline {
      margin-left: 10px;
    }
  }
}

.is-primary input[type="checkbox"]:checked + label {
  &::before {
    background-color: #00d1b2;
    border-color: #00d1b2;
  }

  &::after {
    color: #fff;
  }
}

.is-danger input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ff3860;
    border-color: #ff3860;
  }

  &::after {
    color: #fff;
  }
}

.is-info input[type="checkbox"]:checked + label {
  &::before {
    background-color: #3273dc;
    border-color: #3273dc;
  }

  &::after {
    color: #fff;
  }
}

.is-warning input[type="checkbox"]:checked + label {
  &::before {
    background-color: #ffdd57;
    border-color: #ffdd57;
  }

  &::after {
    color: #fff;
  }
}

.is-success input[type="checkbox"]:checked + label {
  &::before {
    background-color: #23d160;
    border-color: #23d160;
  }

  &::after {
    color: #fff;
  }
}

.is-dark input[type="checkbox"]:checked + label {
  &::before {
    background-color: #363636;
    border-color: #363636;
  }

  &::after {
    color: #fff;
  }
}

.is-black input[type="checkbox"]:checked + label {
  &::before {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
  }

  &::after {
    color: #fff;
  }
}

input[type="checkbox"] {
  &.styled:checked + label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
  }

  .styled:checked + label {
    &::before,
    &::after {
      color: #fff;
    }
  }
}
</style>